<ion-row>
    <ion-col [size]="12">
        <ion-card style="overflow: inherit; padding: 15px;">
            <ion-card-title class="ion-text-center">
                Include
            </ion-card-title>

            <ion-item style="overflow: inherit;">
                <ion-auto-complete [(model)]="selected"
                                   [multi]="true"
                                   [dataProvider]="provider"
                                   [disabled]="false"
                                   [exclude]="excluded"
                                   [options]="selectedOptions"
                                   [removeButtonIcon]="'assets/icons/clear.svg'"
                                   [removeButtonColor]="'dark'"
                                   [useIonInput]="false"
                                   (blur)="on('blur', $event)"
                                   (autoFocus)="on('autoFocus', $event)"
                                   (autoBlur)="on('autoBlur', $event)"
                                   (focus)="on('focus', $event)"
                                   (ionAutoInput)="on('ionAutoInput', $event)"
                                   (itemsChange)="on('itemsChange', $event)"
                                   (itemsCleared)="on('itemsCleared', $event)"
                                   (itemsHidden)="on('itemsHidden', $event)"
                                   (itemRemoved)="on('itemRemoved', $event)"
                                   (itemSelected)="on('itemSelected', $event)"
                                   (itemsShown)="on('itemsShown', $event)"></ion-auto-complete>
            </ion-item>
        </ion-card>
    </ion-col>
</ion-row>

<ion-row>
    <ion-col [size]="12">
        <ion-card style="overflow: inherit; padding: 15px;">
            <ion-card-title class="ion-text-center">
                Exclude
            </ion-card-title>

            <ion-item style="overflow: inherit;">
                <ion-auto-complete [(model)]="excluded"
                                   [multi]="true"
                                   [dataProvider]="provider"
                                   [disabled]="false"
                                   [exclude]="selected"
                                   [options]="excludedOptions"
                                   [removeButtonIcon]="'assets/icons/clear.svg'"
                                   [removeButtonColor]="'dark'"
                                   [useIonInput]="true"
                                   (blur)="on('blur', $event)"
                                   (autoFocus)="on('autoFocus', $event)"
                                   (autoBlur)="on('autoBlur', $event)"
                                   (focus)="on('focus', $event)"
                                   (ionAutoInput)="on('ionAutoInput', $event)"
                                   (itemsChange)="on('itemsChange', $event)"
                                   (itemsCleared)="on('itemsCleared', $event)"
                                   (itemsHidden)="on('itemsHidden', $event)"
                                   (itemRemoved)="on('itemRemoved', $event)"
                                   (itemSelected)="on('itemSelected', $event)"
                                   (itemsShown)="on('itemsShown', $event)"></ion-auto-complete>
            </ion-item>
        </ion-card>
    </ion-col>
</ion-row>
