$border: 1px solid rgba(0,0,0,.12);

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ionic4-phone-spinner {
  display: flex;
  width: 100%;

  .wrapper {
    border-top: $border;
    float: left;
    max-width: 50px;
    padding: 1px;

    button {
      padding: .5rem;
      overflow: hidden;
      border: 0;

      &:last-child {
        border: $border;
        border-radius: 0 0 10px 10px;
        width: 100%;
      }

      &:focus {
        outline: none;
      }

      &:disabled {
        cursor: not-allowed;

        svg {
          fill: rgba(0, 0, 0, .26);
        }
      }
    }

    div {
      align-items: center;
      border-left: $border;
      border-right: $border;
      padding: .5rem;
      font-size: 1rem;
      flex: 1;
      min-width: 20px;
      text-align: center;
      vertical-align: unset;
    }
  }

  .inline-label {
    float: left;
    padding-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 2em;
  }

  /* Ripple effect */
  .ripple {
    background-position: center;
    transition: background 0.3s;

    &:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, .12) radial-gradient(circle, transparent 1%, rgba(0, 0, 0, .12) 1%) center/15000%;
    }

    &:active {
      background-color: rgba(0, 0, 0, .12);
      background-size: 100%;
      transition: background 0s;
    }
  }

  .randomize-button {
    width: 45px;
    border-radius: 9px;
    margin-left: 10px;
    height: 37px;
  }
}
