<ion-auto-complete [(model)]="selected"
                   [multi]="false"
                   [dataProvider]="provider"
                   [disabled]="false"
                   [options]="options"
                   [removeButtonIcon]="'assets/icons/clear.svg'"
                   [removeButtonColor]="'dark'"
                   (blur)="on('blur', $event)"
                   (autoFocus)="on('autoFocus', $event)"
                   (autoBlur)="on('autoBlur', $event)"
                   (focus)="on('focus', $event)"
                   (ionAutoInput)="on('ionAutoInput', $event)"
                   (itemsChange)="on('itemsChange', $event)"
                   (itemsCleared)="on('itemsCleared', $event)"
                   (itemsHidden)="on('itemsHidden', $event)"
                   (itemRemoved)="on('itemRemoved', $event)"
                   (itemSelected)="on('itemSelected', $event)"
                   (itemsShown)="on('itemsShown', $event)"></ion-auto-complete>
