<ng-template #empty
             let-attrs="attrs">
    <div class="country-suggestions-empty">
        <ion-text>That country does not exist!</ion-text>

        <div class="country-suggestions-empty-icon"></div>
    </div>
</ng-template>

<ng-template #selection
             let-attrs="attrs">
        <ion-img class="flag ion-float-left ion-margin-horizontal"
                 style="height: 50px;"
                 [slot]="'start'"
                 [src]="attrs.data.flag"></ion-img>
</ng-template>

<ng-template #suggestions
             let-attrs="attrs">
    <ion-item>
        <ion-img class="flag"
                 [slot]="'start'"
                 [src]="attrs.data.flag"></ion-img>

        <ion-text>
            <span [innerHtml]="attrs.data.name | boldprefix:attrs.keyword"></span> ({{ attrs.data.nativeName }})
        </ion-text>
    </ion-item>
</ng-template>

<ion-auto-complete [(model)]="selected"
                   [eager]="true"
                   [multi]="true"
                   [dataProvider]="provider"
                   [disabled]="false"
                   [maxSelected]="3"
                   [template]="suggestions"
                   [emptyTemplate]="empty"
                   [selectionTemplate]="selection"
                   (blur)="on('blur', $event)"
                   (autoFocus)="on('autoFocus', $event)"
                   (autoBlur)="on('autoBlur', $event)"
                   (focus)="on('focus', $event)"
                   (ionAutoInput)="on('ionAutoInput', $event)"
                   (itemsChange)="on('itemsChange', $event)"
                   (itemsCleared)="on('itemsCleared', $event)"
                   (itemsHidden)="on('itemsHidden', $event)"
                   (itemRemoved)="on('itemRemoved', $event)"
                   (itemSelected)="on('itemSelected', $event)"
                   (itemsShown)="on('itemsShown', $event)"></ion-auto-complete>
