<ng-template #withFlags let-attrs="attrs">
    <ion-item>
        <ion-img class="flag"
                 [slot]="'start'"
                 [src]="attrs.data.flag"></ion-img>

        <ion-text>
            {{ attrs.data.name | boldprefix:attrs.keyword }} ({{ attrs.data.nativeName }})
        </ion-text>
    </ion-item>
</ng-template>

<ion-auto-complete [(model)]="selected"
                   [eager]="true"
                   [multi]="false"
                   [clearInvalidInput]="true"
                   [dataProvider]="provider"
                   [disabled]="false"
                   [template]="withFlags"
                   (blur)="on('blur', $event)"
                   (autoFocus)="on('autoFocus', $event)"
                   (autoBlur)="on('autoBlur', $event)"
                   (focus)="on('focus', $event)"
                   (ionAutoInput)="on('ionAutoInput', $event)"
                   (itemsChange)="on('itemsChange', $event)"
                   (itemsHidden)="on('itemsHidden', $event)"
                   (itemRemoved)="on('itemRemoved', $event)"
                   (itemSelected)="on('itemSelected', $event)"
                   (itemsShown)="on('itemsShown', $event)"></ion-auto-complete>
